
<div class="header-conteiner">
  <nav class="navbar bg-primary">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
      >
        <img src="../../../assets/APLogo.png" alt="logo-arg-programa" class="img-logo">
        <div class="texto">
          <p class="img-logo-texto">ARGENTINA</p>
          <p class="img-logo-texto">PROGRAMA</p>
        </div>
      </a>
      <div class="d-flex">
        <a href={{misRedes.github}}><i class="fa-brands fa-github logo-redes"></i></a>
        <a href={{misRedes.linkedin}}><i class="fa-brands fa-linkedin logo-redes"></i></a>
        <button class="btn btn-success" type="button" id="usuario">Log In</button>
      </div>
    </div>
  </nav>

  <div class="banner-conteiner">
    <img src="../../../assets/banner.jpg" alt="banner-img" class="banner">
  </div>
</div>
